.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .home-title {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .home-description {
    font-size: 1.5em;
    text-align: center;
  }
  