/* InputFields.css */

.form-container {
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px #ccc;
    background-color: white
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: flex-start;
    position: relative;

  }
  
  label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-control {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease-out;
    background-color: #fff;
  }
  .form-control:focus {
    outline: none;
    border-color: #6ab04c;
    box-shadow: 0 0 10px #6ab04c;
  }
  .submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px
  }