nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #262626;
    color: #fff;
    position: relative;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  nav a.active {
    color: #ff6f00;
    font-weight: bold;
  }
  
  nav .menu-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  nav .menu-icon div {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
  }
  
  @media screen and (max-width: 768px) {
    nav .menu-icon {
      display: block;
    }
    nav ul {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #262626;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      z-index: 1;
      transform: scale(0);
      transition: all 0.3s ease-in-out;
    }
    nav ul.open {
      transform: scale(1);
    }
    nav li {
      margin: 10px 0;
    }
  }
  